.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actions {
  display: flex;
  justify-content: center;
}

img {
  flex: 1;
  max-height: calc(100vh - 22px - 16px - 16px - 29px - 16px - 3px);
}

button {
  padding: 4px 8px;
  font-size: 0.375rem 0.75rem;
  background-color: white;
  border: 0;
  border-radius: 0.25rem;
  cursor: pointer;
}
button.success {
  color: #198754;
  border: 1px solid #198754;
}
button.danger {
  color: #dc3545;
  border: 1px solid #dc3545;
}
button.default {
  color: #6c757d;
  border: 1px solid #6c757d;
}
button:disabled {
  opacity: 0.65;
  pointer-events: none;
}

.mt-2 {
  margin-top: 16px;
}
.ml-2 {
  margin-left: 16px;
}
